<mat-drawer-container class="sidebar">
  <mat-toolbar color="primary" class="navbar">
    <span class="spacer">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span [style.cursor]="'pointer'" routerLink="/">KeyStore</span>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <mat-drawer mode="over" #sidenav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </mat-toolbar>
    <mat-action-list role="list">
      <mat-list-item role="listitem">Create Keys</mat-list-item>
      <mat-list-item role="listitem">Settings</mat-list-item>
    </mat-action-list>
  </mat-drawer>
</mat-drawer-container>
